.container {
  margin-top: 20rem;
  padding-bottom: 8rem;
  height: max-content;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 10.75rem;
}
