.App {
  margin: 0px;
  padding: 0px;
  background: var(--backgroundGradient);
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  color: var(--text);
}
