.container {
  background-color: transparent;
  border: 0px;
  color: var(--text);
  font-size: var(--desktop-L);
  font-family: "Rubik", sans-serif;
  border-bottom: 0px;
  transition: border-bottom 200ms;
  padding: 0.938rem 2.188rem;
}
.container:hover {
  cursor: pointer;
}
.container::after {
  content: "";
  width: 100%;
  display: block;
  height: 4px;
  background-color: var(--accent1);
  transform: scale(0);
  transform-origin: left;
  transition: transform 300ms ease;
}
.container:hover::after {
  transform: scale(1);
}

@media screen and (max-width: 1024px) {
  .container {
    font-size: var(--mobile-L);
    padding: 0.938rem 1.188rem;
  }
}
