.container {
  margin: 10%;
  margin-left: 8%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.welcome {
  width: 52rem;
  display: flex;
  flex-direction: column;
  margin-right: 10%;
}

.backgroundClip {
  background: var(--accent2);
  height: auto;
  width: fit-content;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.backgroundClip span {
  font-size: 15rem;
  font-family: "Foldit", cursive;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  margin-bottom: 0px;
}

.container p {
  width: 95%;
  font-size: var(--desktop-L);
}

@media screen and (max-width: 1440px) {
  .welcome {
    width: 40rem;
    margin-right: 3rem;
  }
  .backgroundClip span {
    font-size: 12rem;
  }
}
