@import url("https://fonts.googleapis.com/css2?family=Foldit&family=Rubik&display=swap");

* {
  margin: 10px;
  padding: 0px;

  font-family: "Rubik", sans-serif;

  --background: #0f193c;
  --accent1: #95c6a8;
  --text: #e7edee;
  --accent2: #7cc3df;
  --backgroundAlt: rgba(10, 17, 41, 0.7);
  --backgroundGradient: linear-gradient(
    180deg,
    rgba(15, 25, 60, 1) 0%,
    rgba(10, 17, 41, 0.7) 100%
  );
  background: var(--background);
  color: var(--text);
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: center;
  height: 90vh;
}

.title {
  font-size: 40px;
  font-weight: bold;
  color: var(--accent1);
  margin-bottom: 3rem;
}
.asap {
  margin-bottom: 0.5rem;
}
.autoReply {
  font-size: x-small;
  width: 60%;
  justify-content: end;
}
.github {
  height: 4rem;
  scale: 100%;
  transition: scale 300ms ease-in-out;
  border-radius: 50%;
  cursor: pointer;
}
.github:hover,
.linkedin:hover {
  scale: 120%;
}
.linkedin {
  height: 4rem;
  scale: 100%;
  transition: scale 300ms ease-in-out;
  cursor: pointer;
}
.autoReply {
  position: absolute;
  bottom: 1rem;
}
.images {
  display: flex;
  justify-content: center;
  padding: 2rem;
}
.linkedin,
.github {
  margin: 0px 1rem;
}
