.container {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 28px;
  border-top: 0.625rem solid var(--accent1);
  border-bottom: 0.625rem solid var(--accent1);
}

.opciones {
  display: flex;
  flex-direction: column;
  padding: 4rem 7.4rem;
  /* border: 1px solid red; */
}

.container p {
  margin: 2rem 0.5rem;
  width: 50%;
  text-align: center;
  align-self: center;
}
.opcion {
  width: fit-content;
}
.opcion:hover {
  cursor: pointer;
}
.opcion::after {
  content: "";
  width: 100%;
  display: block;
  height: 4px;
  background-color: var(--accent1);
  transform: scale(0);
  transform-origin: left;
  transition: transform 300ms ease;
}
.opcion:hover::after {
  transform: scale(1);
}

@media screen and (max-width: 1440px) {
  .opciones {
    padding: 3rem 5.4rem;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    display: none;
  }
}
