.container {
  border-radius: 12px;
  background-color: var(--background);
  z-index: 4;
  width: 22.063rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-self: center;
  text-align: center;
}
.imagen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -4rem;
}
.imagen img {
  height: 95px;
  width: 75px;
}

.TituloEnglish {
  font-size: var(--desktop-M);
  font-weight: bold;
  color: var(--accent2);
  position: relative;
  top: 1rem;
}

.DescriptionEnglish {
  font-size: var(--desktop-S);
  color: var(--text);
  position: relative;
  top: -2rem;
}
